/* css styles */
.quarto-title-banner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }

  .quarto-title-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(26, 26, 26, 0.7);
    z-index: 1;
  }

  .quarto-title-banner > * {
    position: relative;
    z-index: 2;
  }

  /* Hide title block header on home page (listing page) */
  .column-page-left #title-block-header {
    display: none;
  }